body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .navbar-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  background: url("../img/mountains.jpg");
  position: relative;
  min-height: 600px; }
  #showcase .primary-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 146, 166, 0.8); }

.header-info {
  width: 50%;
  margin: auto;
  border-bottom: 1px solid #ddd; }

#authers img {
  margin-top: -50px; }
#authers .card:hover {
  background: #3292a6;
  color: #fff; }
  #authers .card:hover .fab {
    color: #fff; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 3.5rem; } }
